/* navbar */
.navbar-brand{margin-left: 2em !important;}
.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}
.nav-link{ margin-right: 1em !important;}
.nav-link:hover, .navbar-brand:hover{ color: #f97300; }
.navbar-collapse{ justify-content: flex-end;}
.navbar-toggler{  background:#fff !important;}

/* header */
.header{
    background-image: url("../img/header1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}
.description h1{
    color:#F97300 ;
}
.description button{
    border:1px  solid #F97300;
    background:#F97300;
    color:#fff;
}

/* about me */
.about{
    margin: 4em 0;
    padding: 1em;
    position: relative;
}
.about h1{
    color:#F97300;
    margin: 2em;
}
.about img{
    height: 90%;
    width: 90%;
    border-radius: 50%;
}
.about span{
    display: block;
    color: #888;
    position: absolute;
}
.about .desc{
    padding: 2em;
    border-left:4px solid #10828C;
}
.about .desc h3{
    color: #10828C;
}
.about .desc p{
    line-height:2;
    color:#888;
}

/* portfolio */
.portfolio{
    margin: 4em 0;
    padding: 1em;
    position: relative;
}
.portfolio h1{
    color:#F97300;
    margin: 2em;
}
.project img{
    height: 15rem;
    width: 100%;
    margin: 1em;
}

/* contact me */
.contact-form{
    margin: 4em 0;
    padding: 1em;
    position: relative;
}
.contact-form h1{
    margin: 2em;
    color: #F97300;
}
.contact-form .form .btn-secondary{
    background:  #F97300;
    color: #fff;
    border:0;
}
.contact-form .right .form-control::placeholder{
    color: #888;
    font-size: 16px;
}